
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pages .heading{
    position:absolute;
    top: 12vh;
    font-size: 5.4rem;
    color: var(--color-light);
    font-weight:700;
   margin-bottom: 10rem;
}

.about{
    position:absolute;
    bottom:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    line-height: 3.5rem;
}

.about .image{
    width: 40rem;
    height: 40rem;
    border-radius: 1rem;
    z-index: 50;
    transition-duration:1s ;

}

.about .image:hover{
    box-shadow: var(--color-orange) 2px 2px 15px;
    transform: scale(1.1);
}

.about-data{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50rem;
   height: 40rem;
   color: var(--color-light);
   font-size: 1.8rem;
}


@media screen and (max-width:600px) {
    .about{
        flex-direction: column;
        gap: 0;

    }
    .pages .heading{
        margin-bottom: 5rem;        
        font-size: 3.2rem;
    }

    .about .image{
        width: 20rem;
        height: 20rem;
        margin-bottom: 5rem;
    }

    .about-data{
        width: 80vw;
        font-size: 1.6rem;
        line-height: 3rem;
    }
}
